.features__wrapper {
display: flex;
flex-direction: column;
align-items: center;
gap: 40px;


.features__items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;

  .features__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    text-align: center;
  }
}   
}