<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Business Landing</title>
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
          <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.features.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.fastest-way.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.fast-prototyping.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.partners.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.testimonials.partial.html"
      ></section>
            <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.pricing.partial.html"
      ></section>
      </section>
            <section
        data-hx-trigger="load"
        data-hx-swap="innerHTML"
        data-hx-get="index.contact-us.partial.html"
      ></section>
      
    </main>
    <footer class="footer">
      <div
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer-nav.partial.html"
      ></div>
    </footer>
  </body>
</html>
